<div class="instruction">
	<h1><%= t(:contacts_instructions_title) %></h1><br>
	<h2><%= t(:contacts_instructions_title2) %></h2>
</div>
<div class="fl-l">
  <div id="import">
    <%= render 'contacts/import' %>
  </div>
  <br/><br/>
	<hr id="hr">
  <div id="emails">
    <%= render 'contacts/emails' %>
  </div>
</div>